//VARIABLES

$color_1: #272727;
$color_2: #0c0c0c;
$color_3: #1d1e31;
$color_4: #fefeff;
$color_5: #ffffff;
$color_6: initial;
$color_7: #f7f7f7;
$color_8: #51b5ef;
$color_9: #262626;
$color_10: #959494;
$color_11: #cdcbcd;
$color_12: rgba(35, 9, 9, 0.6);
$color_13: #363535;
$color_14: #a9a6a6;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: "Roboto", sans-serif;
$font-family_3: 'American Typewriter', sans-serif;
$background-color_1: #ffffff;
$background-color_2: #51b5ef;
$background-color_3: transparent;
$background-color_4: #262626;
$background-color_5: black;
$background-color_6: rgba(62, 103, 205, 0.9);
$background-color_7: #fc5d35;
$background-color_8: #10e276;
$background-color_9: #252525;
$background-color_10: #2e2d2d;